<strong>Olá, {{ name }}</strong>
<p>Legal, por você usar o nosso canal.</p>
<br />
<p>Sobre o seu pedido:</p>

  <strong>Pergunta: </strong>{{ question }}<br />
  <strong>Resposta: </strong> {{ answer }}<br />
  <br />

  Qualquer dúvida estamos a disposição.

</p>
