<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo(a) a academia GymPoint !!!</p>
<br />
<p>Confira os detalhes da sua matricula:</p>

  <strong>Plano: </strong>{{ plan }}<br />
  <strong>Término do Plano: </strong> {{ enddate }}<br />
  <strong>Valor: R$ </strong> {{ price }}<br />
  <br />

  Qualquer dúvida estamos a disposição.

</p>
